name: Daily commit

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Git
      run: |
        git config --global user.email "babettsan@gmail.com"
        git config --global user.name "Barbara Sanchez"

    - name: Commit changes
      run: |
        git add .
        git commit -m "Daily commit $(date +'%Y-%m-%d')"
        git push
